@font-face {
    font-family: 'Finlandica';
    src: url(./assets/fonts/finlandica-regularWeb.woff);
}

:root {
  --main-color: rgb(0, 46, 162);
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Finlandica';
  background: lightgrey;
}
/* --------header--------- */
.logo-bar {
  background: var(--secondary-color);
  height: 110px;
  position: relative;
}
.logo a, .header-link a{
    text-decoration: none;
    display: inline-block;
    color: var(--main-color);
}
.logo a {
  height: 100%;
  font-size: 34px;
  letter-spacing: -2px;
  width: 130px;
  line-height: 1.05;
  padding-top: 21px;
  position: absolute;
  left: 50px;
  font-style: normal;
}
strong {
  font-weight: 700;
  letter-spacing: -2px;
}
.header-link {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 14px;
}
.header-link a:hover {
  text-decoration: underline;
}

.search-bar {
  display: inline-block;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 999;
}
.nav-bar {
  background: var(--main-color);
  color: var(--secondary-color);
  font-weight: 400;
  font-style: normal;
  height: 50px;
  padding-left: 40px;
  position: relative;
}
nav {
  display: block;
}
ul {
  list-style-type: none;
}
ul li,
ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}

ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 13px;
  position: relative;
}
.active {
  border-bottom: solid 3px var(--secondary-color);
}
ul li:hover {
  border-bottom: solid 3px var(--secondary-color);
  transition: border-bottom 0.2s ease-in-out;
}

/* -----------dropdown menu ---------*/
ul li ul {
  background: var(--secondary-color);
  visibility: hidden;
  opacity: 0;
  width: 208px;
  position: absolute;
  left: 0;
  display: none;
  z-index: 999;
  margin: 0;
}
ul li ul li {
  width: 100%;
  height: 39px;
  clear: both;
  padding: 8px 0 8px 15px;
  margin: 0;
  border-style: none;
  transition: background 0.2s ease-in-out;
}
ul li ul li a {
  height: 100%;
  text-align: left;
  padding: 0;
  font-weight: 400;
  color: var(--main-color);
}
ul li ul li:hover {
  background: rgb(247, 247, 255);
  border: none;
}
ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  display: block;
  opacity: 1;
}
/* --------main----------- */
/* hero banner */
.hero-banner {
  background: url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-banner::after {
  content: '';
  background: var(--main-color);
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-banner > * {
  z-index: 100;
  position: relative;
}
.hero-header {
  color: #fff;
  width: 50%;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 130px 0;
}
.hero-header h1 {
  font-size: 100px;
  font-weight: 400;
  padding-bottom: 10px;
}
.hero-header h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 8px;
}
.hero-header h1::after {
  color: #fff;
  opacity: 1;
}
/* -------------grid styles------------ */
section {
  background: var(--secondary-color);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  padding: 50px 0;
}
.grid-header {
  grid-column: 1 / span 4;
}
.grid-header h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--main-color);
}
.grid-header p {
  font-size: 24px;
  font-weight: 400;
}

.grid-item {
  min-height: 15vh;
  height: 100%;
  min-width: 100%;
  display: grid;
  padding: 20px;
  color: var(--secondary-color);
}
.grid-text {
  font-size: 26px;
  text-transform: uppercase;
  justify-self: start;
  align-self: end;
}
.map-btn {
  display: block;
  height: 42px;
  width: 163px;
  text-decoration: none;
  background: var(--main-color);
  color: var(--secondary-color);
  padding: 12px 15px 10px;
  border-radius: 3px;
  margin-top: 10px;
}
/* -----------grid-images-------- */

.section-b .grid-item:nth-of-type(2) {
  background: url(https://images.unsplash.com/photo-1578574577315-3fbeb0cecdc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(3) {
  background: url(https://images.unsplash.com/photo-1520717178299-4cf2701a5bc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(4) {
  background: url(https://images.unsplash.com/photo-1522202801620-eb6f71f5bf05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(5) {
  background: url(https://images.unsplash.com/photo-1573497620053-ea5300f94f21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(6) {
  background: url(https://images.unsplash.com/photo-1573497620013-7f7660da1a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(7) {
  background: url(https://images.unsplash.com/photo-1573496546038-82f9c39f6365?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(8) {
  background: url(https://images.unsplash.com/photo-1582198374956-67bbb618540a?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(9) {
  background: url(https://images.unsplash.com/photo-1573497701175-00c200fd57f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(10) {
  background: url(https://images.unsplash.com/photo-1571968215680-36a1034999e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(11) {
  background: url(https://images.unsplash.com/photo-1549876612-f9ea53d45266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(12) {
  background: url(https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-b .grid-item:nth-of-type(13) {
  background: url(https://images.unsplash.com/photo-1534297635766-a262cdcb8ee4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
/* ------------ */
.section-c .grid-item:nth-of-type(2) {
  background: url(https://images.unsplash.com/photo-1582552281350-20f4bc81566d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1386&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(3) {
  background: url(https://images.unsplash.com/photo-1473157620845-01ae7758c811?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2553&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(4) {
  background: url(https://images.unsplash.com/photo-1444525873963-75d329ef9e1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(5) {
  background: url(https://images.unsplash.com/photo-1542318421-1d7619edc046?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(6) {
  background: url(https://images.unsplash.com/photo-1557292882-c911bef21523?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(7) {
  background: url(https://images.unsplash.com/photo-1578167597239-14f8fc680b6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1556&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(8) {
  background: url(https://images.unsplash.com/photo-1568021735466-efd8a4c435af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(9) {
  background: url(https://images.unsplash.com/photo-1484504110495-939e9baca603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(10) {
  background: url(https://images.unsplash.com/photo-1510554310709-f60fc3cf34e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(11) {
  background: url(https://images.unsplash.com/photo-1550945233-716f16384ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
}
.section-c .grid-item:nth-of-type(12) {
  background: url(https://images.unsplash.com/photo-1547989453-11e67ffb3885?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2389&q=80) no-repeat center center/cover ;
}
/* .section-c .grid-item:nth-of-type(10) {
  background: url(https://images.unsplash.com/photo-1534297635766-a262cdcb8ee4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover ;
} */

/* --------footer styles-------- */
footer {
  color: white;
  width: 100%;
}
.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 470px;
  width: 100%;
  background: var(--main-color);
  margin: 0 auto;
  padding: 40px;
}

.footer-item-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.footer-item-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding-left: 70px;
}
.footer-item-3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  padding-top: 37px;
}
.footer-item-2 h3 {
  margin-top: 4px;
  margin-bottom: 10px;
}
footer strong {
  text-decoration: none;
  color: var(--secondary-color);
  letter-spacing: normal;
}
footer p {
  line-height: 2rem;
}