* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
}

/* ------------header styles------------------- */
header {
  background: #1d1f21;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 1rem 0;
}
.menu {
  list-style-type: none;
}
.menu__item {
  position: relative;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
.menu__link:hover {
  color: #3686d1;
}
.dropdown-menu {
  list-style-type: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  background: #1d1f21;
  width: 100px;
} 

.dropdown__link{
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}
.dropdown__link:hover {
  color: #3686d1;
}

.menu__item:hover > .dropdown-menu, .dropdown-menu:hover {
  visibility: visible;
}
/* --------------hero banner styles------------ */
.hero-banner {
  width: 100%;
}
.hero-banner-bg {
  background: url(https://images.unsplash.com/photo-1570402715538-7350ad7e6639?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.hero-content {
  width: 70%;
  padding-top: 40px;
  padding-right: 40px;
}
.hero-header {
  font-size: 5rem;
  color: #fff;
}
.hero-text {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hero-button {
  box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border-radius:3px;
	color:#ffffff;
	font-family:"Ubuntu", sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
  text-shadow:0px 1px 0px #92b879;
  display: inline-block;
  margin-bottom: 40px;
}
.hero-button:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.hero-button:active {
	position:relative;
	top:1px;
}
/* ----------main styles------------- */
/* --------------section-a---------- */
.section-a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.container-a {
  /* height: 100%; */
  width: 70%;
  display: flex;
}
.section-img {
  flex: 1;
  background: url(https://images.unsplash.com/photo-1516062423079-7ca13cdc7f5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1361&q=80) no-repeat center center/cover;
  margin-right: 30px;
}
.section-text {
  flex: 1;
}
.section-text h2 {
  margin-bottom: 20px;
}
.section-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-a ul{
  margin-left: 30px;
  line-height: 3;
}
/* -------------section-b------------- */
.section-b {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.container-b {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.skill-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.skill-box {
  height: 150px;
  width: 200px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  position: relative;
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.js {
  background: lightskyblue;
  color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  position: absolute;
  /* centering with position:absolute: */
  left: 50%;
  /* add negative left margin half the width of the element */
  margin-left: -35px;
  top: -30px;
}

.progress-container {
  height: 57%;
  width: 100%;
  position: absolute;
  bottom: 0;

}

/* footer styles */

footer {
  background: #1d1f21;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.footer-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
footer p {
  color: #fff;
}
.footer-content {
  padding-right: 40px;
  flex: 1;
}
/* form */
footer form {
  color: #fff;
  flex: 1;
}
label {
  display: block;
}
input, label, textarea {
  margin: .4rem 0;
  font-family: "Ubuntu", sans-serif;
}
input, textarea {
  width: 100%;
}
input {
  padding: 8px 10px;
  font-size: 1rem;
}
textarea {
  height: 4rem;
  font-size: 1rem;
  padding: 8px 10px;
}
.btn {
  background: #72c6ed;
  border: none;
  text-align: center;
  padding: 12px 25px;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
.b-t-top {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #fff;
  text-decoration: none;
  color: #000;
  padding: 12px 15px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  /* hero banner */
  .hero-header {
    font-size: 3rem;
  }
  .hero-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
  /* section a */
  .container-a {
    flex-direction: column;
    width: 90%;
  }
  .section-img {
    margin: 0;
    order: 1;
    z-index: 300;
  }
  /* skills */
  .container-b {
    width: 90%;
  }
  .skill-boxes {
    flex-direction: column;
  }
  .skill-box {
    margin: 20px auto;
  }
  /* footer */
  .footer-container {
    width: 90%;
    flex-direction: column;
  }
  .footer-content {
    padding: 0;
  }
  footer h3 {
    margin-top: 20px;
  }
}